<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<!-- basic info -->
	<title>RIT Debit Calculator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link rel="stylesheet" href="/css/bootstrap-cyborg.min.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- icons -->
	<link rel="icon" href="/img/favicon.png">
	<link rel="apple-touch-icon" href="/mobile_icon.png">
</head>

<body>

<!-- main column -->
<div class="container-fluid" id="main-column">
</div>

<!-- scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>
